name: Metrics

on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: mauricio2093
          token: ${{ secrets.GITHUB_TOKEN }}

          template: classic
          base: header, activity, community, repositories

          plugin_activity: yes
          plugin_activity_limit: 5

          plugin_isocalendar: yes

          plugin_languages: yes
          plugin_languages_limit: 8

          plugin_followup: yes